.card-title {
  font-weight: 700 !important;
  color: white !important;
  text-shadow: 0 0 5px #333 !important;
}
.stack li .card {
  box-shadow: none !important;
  margin: 0 !important;
}
.ooo-button {
  box-shadow: none !important;
}
.ooo-button:hover {
  box-shadow: 0 0 8px #333 !important;
}
.blur-me {
  filter: blur(5px) !important;
}
